<img align="center" src="http://sydney.edu.au/images/content/about/logo-mono.jpg">
<h1 align="center" style="margin-top:10px">Statistical Learing and Data Mining</h1>
<h2 align="center" style="margin-top:20px">Appendix 1: Preparing a Submission for the Classification Challenge</h2>
<br>

In this notebook I'll show you have you to prepare the submission for the Kaggle competition. Before this, please go over the sample submission so that you can first see the format that we are trying to achieve.

This notebook relies on the following imports and settings.

### 1. Loading the Data

In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('train.csv')
train.head()

,visits,total_sales,credit_card,sales_product_category_1,sales_product_category_2,sales_product_category_3,sales_product_category_4,sales_product_category_5,sales_product_category_6,sales_product_category_7,...,stores_visited,phone_on_file,online_shopper,attempts,conversions,product_uniformity,days_between_visits,customer_type,returns,conversion
0,2,160.48,0,0.00,0.0,0.00,0.23,0.23,0.27,0.15,...,3,Y,0,4,0,23.30,31.33,37,0.13,0
1,19,1776.38,1,0.23,0.0,0.00,0.11,0.26,0.14,0.00,...,3,Y,1,5,5,20.19,13.27,12,0.04,1
2,3,156.97,1,0.17,0.0,0.00,0.00,0.00,0.75,0.00,...,1,Y,0,9,0,116.68,31.78,28,0.00,1
3,6,1419.36,1,0.39,0.0,0.03,0.04,0.15,0.12,0.07,...,5,Y,0,8,5,22.42,20.38,5,0.00,1
4,8,470.35,1,0.32,0.0,0.00,0.16,0.08,0.15,0.00,...,2,Y,0,10,0,17.16,27.33,15,0.18,0

In [2]:
test = pd.read_csv('test.csv', index_col=0)
test.head()

,visits,total_sales,credit_card,sales_product_category_1,sales_product_category_2,sales_product_category_3,sales_product_category_4,sales_product_category_5,sales_product_category_6,sales_product_category_7,...,individual_items,stores_visited,phone_on_file,online_shopper,attempts,conversions,product_uniformity,days_between_visits,customer_type,returns
Id,,,,,,,,,,,,,,,,,,,,,
0,1,213.74,1,0.16,0.00,0.00,0.17,0.00,0.41,0.00,...,5,1,Y,0,4,0,33.25,70.44,8,0.00
1,27,1190.16,1,0.10,0.03,0.07,0.00,0.12,0.05,0.05,...,114,5,Y,0,9,7,4.37,5.71,45,0.75
2,2,74.37,0,0.00,0.00,0.00,0.44,0.00,0.00,0.00,...,4,1,Y,0,0,0,35.41,34.50,42,0.00
3,1,386.98,1,0.51,0.00,0.05,0.00,0.17,0.00,0.12,...,10,1,Y,0,9,1,33.36,127.25,50,0.00
4,1,102.00,0,0.43,0.00,0.00,0.00,0.00,0.00,0.00,...,2,1,N,0,5,0,50.94,340.00,50,0.00

### 2. Fitting a Simple Model

Note the difference between the report and the Kaggle competition. For the report, you need to split the main data so that you can do model evaluation. In the Kaggle competition, the whole initial dataset becomes the training data. That's because the purpose of the Kaggle competition is for you to deploy your machine learning system after careful model building, selection and evaluation, as would be the case in actual business setting.

In [3]:
response ='conversion'
predictors = ['visits', 'total_sales']

y_train = train[response].to_numpy()
X_train = train[predictors].to_numpy()

In [4]:
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression(C=np.inf, solver='lbfgs')
logit.fit(X_train, y_train)

LogisticRegression(C=inf, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

### 3. Predictions and Submission File

In [5]:
X_test = test[predictors].to_numpy()
y_prob = logit.predict_proba(X_test)[:,1]

In [6]:
submission = pd.DataFrame(y_prob, index=test.index, columns=[response])
submission.head()

    conversion
Id
0     0.228884
1     0.970249
2     0.252103
3     0.238269
4     0.222970

In [7]:
submission.to_csv('submission00.csv')

### Additional Code

The two cells below format the notebook for display online. Please omit them from your work.

In [8]:
%%html
<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans:800&display=swap');
</style>

In [9]:
from IPython.core.display import HTML
style = open('../css/jupyter.css', "r").read()
HTML('<style>'+ style +'</style>')