In [9]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

from keras.layers.core import Dense
from keras.models import Sequential

from sklearn.linear_model import LinearRegression

np.random.seed(0)

df = pd.read_csv("auction.txt", delimiter = "\t")

df.head()

   Age  Bidders  Price
0  127       13   1235
1  115       12   1080
2  127        7    845
3  150        9   1522
4  156        6   1047

In [10]:
scaler = MinMaxScaler(feature_range=(0, 1))

data = scaler.fit_transform(df.values)

df_scaled = pd.DataFrame(data, columns=df.columns)

df_scaled.head()

/Users/steve/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

        Age  Bidders     Price
0  0.220930      0.8  0.360913
1  0.081395      0.7  0.250357
2  0.220930      0.2  0.082739
3  0.488372      0.4  0.565621
4  0.558140      0.1  0.226819

In [12]:
y = df_scaled["Price"]
X = df_scaled[ df_scaled.columns.difference(["Price"]) ]

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
model = Sequential()

n_features = X_train.shape[1]

model.add(Dense(1, input_dim=n_features, activation='linear', use_bias=True))

model.compile(loss='mean_squared_error', optimizer='adam')

history = model.fit(X_train.values, y_train.values,  epochs=100, batch_size=1, verbose=2, validation_split=0)

In [14]:
ols = LinearRegression(fit_intercept=True)
ols.fit(X_train, y_train)

ols_coefs = np.concatenate( ([ols.intercept_], ols.coef_), axis = 0 )
print("OLS Coefs: {0}".format(ols_coefs))

weights = model.layers[0].get_weights()

nn_coefs = np.concatenate( (weights[1], weights[0][:,0]) , axis = 0 )
print("NN Coefs: {0}".format(nn_coefs))

OLS Coefs: [-0.19469252  0.71678203  0.7531704 ]
NN Coefs: [-0.01865337  0.81452131  0.16947313]