In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import sqlite3

conn = sqlite3.connect("housing.db")
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
c.fetchall()

[('houses',)]

In [3]:
c.execute("PRAGMA table_info(houses);")
c.fetchall()

[(0, 'Order', 'BIGINT', 0, None, 0),
 (1, 'PID', 'BIGINT', 0, None, 0),
 (2, 'MS SubClass', 'BIGINT', 0, None, 0),
 (3, 'MS Zoning', 'TEXT', 0, None, 0),
 (4, 'Lot Frontage', 'FLOAT', 0, None, 0),
 (5, 'Lot Area', 'BIGINT', 0, None, 0),
 (6, 'Street', 'TEXT', 0, None, 0),
 (7, 'Alley', 'TEXT', 0, None, 0),
 (8, 'Lot Shape', 'TEXT', 0, None, 0),
 (9, 'Land Contour', 'TEXT', 0, None, 0),
 (10, 'Utilities', 'TEXT', 0, None, 0),
 (11, 'Lot Config', 'TEXT', 0, None, 0),
 (12, 'Land Slope', 'TEXT', 0, None, 0),
 (13, 'Neighborhood', 'TEXT', 0, None, 0),
 (14, 'Condition 1', 'TEXT', 0, None, 0),
 (15, 'Condition 2', 'TEXT', 0, None, 0),
 (16, 'Bldg Type', 'TEXT', 0, None, 0),
 (17, 'House Style', 'TEXT', 0, None, 0),
 (18, 'Overall Cond', 'BIGINT', 0, None, 0),
 (19, 'Year Built', 'BIGINT', 0, None, 0),
 (20, 'Year Remod/Add', 'BIGINT', 0, None, 0),
 (21, 'Roof Style', 'TEXT', 0, None, 0),
 (22, 'Roof Matl', 'TEXT', 0, None, 0),
 (23, 'Exterior 1st', 'TEXT', 0, None, 0),
 (24, 'Exterior 2nd', 'TEXT', 0, None, 0),
 (25, 'Mas Vnr Type', 'TEXT', 0, None, 0),
 (26, 'Mas Vnr Area', 'FLOAT', 0, None, 0),
 (27, 'Exter Qual', 'TEXT', 0, None, 0),
 (28, 'Exter Cond', 'TEXT', 0, None, 0),
 (29, 'Foundation', 'TEXT', 0, None, 0),
 (30, 'Bsmt Qual', 'TEXT', 0, None, 0),
 (31, 'Bsmt Cond', 'TEXT', 0, None, 0),
 (32, 'Bsmt Exposure', 'TEXT', 0, None, 0),
 (33, 'BsmtFin Type 1', 'TEXT', 0, None, 0),
 (34, 'BsmtFin SF 1', 'FLOAT', 0, None, 0),
 (35, 'BsmtFin Type 2', 'TEXT', 0, None, 0),
 (36, 'BsmtFin SF 2', 'FLOAT', 0, None, 0),
 (37, 'Bsmt Unf SF', 'FLOAT', 0, None, 0),
 (38, 'Total Bsmt SF', 'FLOAT', 0, None, 0),
 (39, 'Heating', 'TEXT', 0, None, 0),
 (40, 'Heating QC', 'TEXT', 0, None, 0),
 (41, 'Central Air', 'TEXT', 0, None, 0),
 (42, 'Electrical', 'TEXT', 0, None, 0),
 (43, '1st Flr SF', 'BIGINT', 0, None, 0),
 (44, '2nd Flr SF', 'BIGINT', 0, None, 0),
 (45, 'Low Qual Fin SF', 'BIGINT', 0, None, 0),
 (46, 'Gr Liv Area', 'BIGINT', 0, None, 0),
 (47, 'Bsmt Full Bath', 'FLOAT', 0, None, 0),
 (48, 'Bsmt Half Bath', 'FLOAT', 0, None, 0),
 (49, 'Full Bath', 'BIGINT', 0, None, 0),
 (50, 'Half Bath', 'BIGINT', 0, None, 0),
 (51, 'Bedroom AbvGr', 'BIGINT', 0, None, 0),
 (52, 'Kitchen AbvGr', 'BIGINT', 0, None, 0),
 (53, 'Kitchen Qual', 'TEXT', 0, None, 0),
 (54, 'TotRms AbvGrd', 'BIGINT', 0, None, 0),
 (55, 'Functional', 'TEXT', 0, None, 0),
 (56, 'Fireplaces', 'BIGINT', 0, None, 0),
 (57, 'Fireplace Qu', 'TEXT', 0, None, 0),
 (58, 'Garage Type', 'TEXT', 0, None, 0),
 (59, 'Garage Yr Blt', 'FLOAT', 0, None, 0),
 (60, 'Garage Finish', 'TEXT', 0, None, 0),
 (61, 'Garage Cars', 'FLOAT', 0, None, 0),
 (62, 'Garage Area', 'FLOAT', 0, None, 0),
 (63, 'Garage Qual', 'TEXT', 0, None, 0),
 (64, 'Garage Cond', 'TEXT', 0, None, 0),
 (65, 'Paved Drive', 'TEXT', 0, None, 0),
 (66, 'Wood Deck SF', 'BIGINT', 0, None, 0),
 (67, 'Open Porch SF', 'BIGINT', 0, None, 0),
 (68, 'Enclosed Porch', 'BIGINT', 0, None, 0),
 (69, '3Ssn Porch', 'BIGINT', 0, None, 0),
 (70, 'Screen Porch', 'BIGINT', 0, None, 0),
 (71, 'Pool Area', 'BIGINT', 0, None, 0),
 (72, 'Pool QC', 'TEXT', 0, None, 0),
 (73, 'Fence', 'TEXT', 0, None, 0),
 (74, 'Misc Feature', 'TEXT', 0, None, 0),
 (75, 'Misc Val', 'BIGINT', 0, None, 0),
 (76, 'Mo Sold', 'BIGINT', 0, None, 0),
 (77, 'Yr Sold', 'BIGINT', 0, None, 0),
 (78, 'Sale Type', 'TEXT', 0, None, 0),
 (79, 'Sale Condition', 'TEXT', 0, None, 0),
 (80, 'SalePrice', 'BIGINT', 0, None, 0)]

In [4]:
house = pd.read_sql("SELECT * FROM houses;", conn)

house.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,2217,909279080,50,RL,NaN,11275,Pave,None,IR1,HLS,...,0,None,None,None,0,3,2007,WD,Normal,220000
1,837,907126050,20,RL,65.0,9757,Pave,None,Reg,Low,...,0,None,None,None,0,10,2009,WD,Normal,143000
2,2397,528144030,60,RL,86.0,11065,Pave,None,IR1,Lvl,...,0,None,None,None,0,10,2006,New,Partial,281000
3,1963,535452060,20,RL,70.0,7000,Pave,None,Reg,Lvl,...,0,None,MnWw,None,0,4,2007,WD,Family,135000
4,306,911202100,50,C (all),66.0,8712,Pave,Pave,Reg,HLS,...,0,None,None,None,0,1,2010,WD,Abnorml,102776

In [5]:
a = house[['Gr Liv Area',"Total Bsmt SF","Year Built","Sale Condition",'SalePrice']]

a = a[ a["Sale Condition"] == "Normal"]


a.dropna(inplace = True)


a.iloc[:,2] = -(a.iloc[:,2] - 2010)


a.corr()


# GLA TBSF

               Gr Liv Area  Total Bsmt SF  Year Built  SalePrice
Gr Liv Area       1.000000       0.395225   -0.209303   0.740554
Total Bsmt SF     0.395225       1.000000   -0.373514   0.635165
Year Built       -0.209303      -0.373514    1.000000  -0.520716
SalePrice         0.740554       0.635165   -0.520716   1.000000

In [6]:
a

      Gr Liv Area  Total Bsmt SF  Year Built Sale Condition  SalePrice
0            1991          854.0          78         Normal     220000
1             990          990.0          16         Normal     143000
5            1609          754.0          15         Normal     182000
7             981          981.0          39         Normal     143250
8            1466         1466.0          51         Normal     149900
10           1312         1267.0           9         Normal     180500
11           1089         1089.0          56         Normal     125000
12           1978         1978.0           7         Normal     318000
13           1465          992.0          71         Normal     131000
14           1674          814.0          10         Normal     216000
15           1127         1127.0          34         Normal     135000
17            864          864.0          51         Normal     118000
18           1489          782.0           7         Normal     192000
20           1256         1145.0           2         Normal     195000
21           2526         1165.0          16         Normal     290000
22           1872         1845.0          22         Normal     241500
23           2020            0.0          33         Normal     144000
26           2054          992.0          10         Normal     244000
31           2061         1070.0          15         Normal     260000
32            864          864.0          40         Normal     124500
33            894          894.0          33         Normal     120750
35           1742          916.0         128         Normal     168000
36           1514          794.0          10         Normal     190000
38           2544         1248.0          41         Normal     190000
39           1097         1097.0          14         Normal     147900
41           1091          384.0          17         Normal     131250
42           2362         1220.0          12         Normal     312500
43           1576         1324.0          87         Normal     223500
44           2225         1390.0          18         Normal     285000
45           2046         1994.0           5         Normal     450000
...           ...            ...         ...            ...        ...
2311         1079          570.0          62         Normal     125600
2312         1268         1268.0          33         Normal     143500
2314         1774          552.0          49         Normal     165000
2315         1424         1100.0          41         Normal     155000
2316         1798         1075.0         110         Normal     137000
2317         1588         1588.0          11         Normal     214000
2318         1337         1405.0          11         Normal     184000
2320         1575         1603.0           7         Normal     284000
2321         1280          793.0          44         Normal     175000
2322         2110          948.0          16         Normal     205000
2323         1590          768.0           2         Normal     210000
2324         1450          624.0          90         Normal     132000
2325         1020         1004.0          22         Normal     200000
2326         1248          912.0          80         Normal      87000
2327         1341         1341.0          11         Normal     246900
2328         1675         1666.0          11         Normal     195000
2329         2192          720.0          71         Normal     179500
2330         1645          715.0          39         Normal     171000
2331         1518         1518.0           7         Normal     274000
2333         1440          540.0         110         Normal      79000
2334          630          630.0          38         Normal      81000
2335         1584         1584.0          43         Normal     124000
2336         1548          804.0          34         Normal     146000
2337         1553          691.0          14         Normal     178750
2338         1381         1161.0          38         Normal     197500
2339         1691         1026.0          86         Normal     127000
2340         1671          959.0          10         Normal     173000
2341         1232         1232.0          26         Normal     162500
2342         1274          624.0          19         Normal     136000
2343         2696         2846.0           7         Normal     500000

[1928 rows x 5 columns]

In [7]:
from sklearn.linear_model import LinearRegression

X = a[['Gr Liv Area',"Total Bsmt SF"]]
y = a["SalePrice"]

reg1 = LinearRegression()

reg1.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
reg1.coef_

array([85.65486632, 71.11741445])

In [9]:
reg1.intercept_

-23483.645387017314

In [10]:
reg2 = LinearRegression(fit_intercept = False)

reg2.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [11]:
reg2.coef_

array([76.00477469, 63.96370839])

In [12]:
reg2.intercept_

0.0

In [ ]:
from sklearn.metrics import mean_squared_error

y_pred1 =  

# print('MSE1：',mean_squared_error(y_test,y_pred))
# print('RMSE1：',np.sqrt(mean_squared_error(y_test,y_pred)))

In [17]:
# 方法2
import statsmodels.api as sm

X_with_intercept = sm.add_constant(X)

X_with_intercept.head()

   const  Gr Liv Area  Total Bsmt SF
0    1.0         1991          854.0
1    1.0          990          990.0
5    1.0         1609          754.0
7    1.0          981          981.0
8    1.0         1466         1466.0

In [18]:
model1  = sm.OLS(y,X)
results = model1.fit()

results.params

Gr Liv Area      76.004775
Total Bsmt SF    63.963708
dtype: float64

In [19]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.955
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                 2.035e+04
Date:                Fri, 12 Apr 2019   Prob (F-statistic):               0.00
Time:                        23:24:48   Log-Likelihood:                -23183.
No. Observations:                1928   AIC:                         4.637e+04
Df Residuals:                    1926   BIC:                         4.638e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Gr Liv Area      76.0048      1.592     47.737      0.000      72.882      79.127
Total Bsmt SF    63.9637      2.257     28.338      0.000      59.537      68.390
==============================================================================
Omnibus:                      385.456   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2347.097
Skew:                           0.795   Prob(JB):                         0.00
Kurtosis:                       8.166   Cond. No.                         5.55
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
model2  = sm.OLS(y,X_with_intercept)
results2 = model2.fit()

results2.params

const           -23483.645387
Gr Liv Area         85.654866
Total Bsmt SF       71.117414
dtype: float64

In [22]:
results2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.687
Model:                            OLS   Adj. R-squared:                  0.687
Method:                 Least Squares   F-statistic:                     2117.
Date:                Fri, 12 Apr 2019   Prob (F-statistic):               0.00
Time:                        23:26:59   Log-Likelihood:                -23156.
No. Observations:                1928   AIC:                         4.632e+04
Df Residuals:                    1925   BIC:                         4.634e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.348e+04   3198.698     -7.342      0.000   -2.98e+04   -1.72e+04
Gr Liv Area      85.6549      2.048     41.821      0.000      81.638      89.672
Total Bsmt SF    71.1174      2.431     29.259      0.000      66.350      75.884
==============================================================================
Omnibus:                      205.378   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1303.705
Skew:                           0.271   Prob(JB):                    8.02e-284
Kurtosis:                       6.992   Cond. No.                     6.61e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.61e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""