In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import sqlite3

conn = sqlite3.connect("housing.db")
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
c.fetchall()

[('houses',)]

In [3]:
c.execute("PRAGMA table_info(houses);")
c.fetchall()

[(0, 'Order', 'BIGINT', 0, None, 0),
 (1, 'PID', 'BIGINT', 0, None, 0),
 (2, 'MS SubClass', 'BIGINT', 0, None, 0),
 (3, 'MS Zoning', 'TEXT', 0, None, 0),
 (4, 'Lot Frontage', 'FLOAT', 0, None, 0),
 (5, 'Lot Area', 'BIGINT', 0, None, 0),
 (6, 'Street', 'TEXT', 0, None, 0),
 (7, 'Alley', 'TEXT', 0, None, 0),
 (8, 'Lot Shape', 'TEXT', 0, None, 0),
 (9, 'Land Contour', 'TEXT', 0, None, 0),
 (10, 'Utilities', 'TEXT', 0, None, 0),
 (11, 'Lot Config', 'TEXT', 0, None, 0),
 (12, 'Land Slope', 'TEXT', 0, None, 0),
 (13, 'Neighborhood', 'TEXT', 0, None, 0),
 (14, 'Condition 1', 'TEXT', 0, None, 0),
 (15, 'Condition 2', 'TEXT', 0, None, 0),
 (16, 'Bldg Type', 'TEXT', 0, None, 0),
 (17, 'House Style', 'TEXT', 0, None, 0),
 (18, 'Overall Cond', 'BIGINT', 0, None, 0),
 (19, 'Year Built', 'BIGINT', 0, None, 0),
 (20, 'Year Remod/Add', 'BIGINT', 0, None, 0),
 (21, 'Roof Style', 'TEXT', 0, None, 0),
 (22, 'Roof Matl', 'TEXT', 0, None, 0),
 (23, 'Exterior 1st', 'TEXT', 0, None, 0),
 (24, 'Exterior 2nd', 'TEXT', 0, None, 0),
 (25, 'Mas Vnr Type', 'TEXT', 0, None, 0),
 (26, 'Mas Vnr Area', 'FLOAT', 0, None, 0),
 (27, 'Exter Qual', 'TEXT', 0, None, 0),
 (28, 'Exter Cond', 'TEXT', 0, None, 0),
 (29, 'Foundation', 'TEXT', 0, None, 0),
 (30, 'Bsmt Qual', 'TEXT', 0, None, 0),
 (31, 'Bsmt Cond', 'TEXT', 0, None, 0),
 (32, 'Bsmt Exposure', 'TEXT', 0, None, 0),
 (33, 'BsmtFin Type 1', 'TEXT', 0, None, 0),
 (34, 'BsmtFin SF 1', 'FLOAT', 0, None, 0),
 (35, 'BsmtFin Type 2', 'TEXT', 0, None, 0),
 (36, 'BsmtFin SF 2', 'FLOAT', 0, None, 0),
 (37, 'Bsmt Unf SF', 'FLOAT', 0, None, 0),
 (38, 'Total Bsmt SF', 'FLOAT', 0, None, 0),
 (39, 'Heating', 'TEXT', 0, None, 0),
 (40, 'Heating QC', 'TEXT', 0, None, 0),
 (41, 'Central Air', 'TEXT', 0, None, 0),
 (42, 'Electrical', 'TEXT', 0, None, 0),
 (43, '1st Flr SF', 'BIGINT', 0, None, 0),
 (44, '2nd Flr SF', 'BIGINT', 0, None, 0),
 (45, 'Low Qual Fin SF', 'BIGINT', 0, None, 0),
 (46, 'Gr Liv Area', 'BIGINT', 0, None, 0),
 (47, 'Bsmt Full Bath', 'FLOAT', 0, None, 0),
 (48, 'Bsmt Half Bath', 'FLOAT', 0, None, 0),
 (49, 'Full Bath', 'BIGINT', 0, None, 0),
 (50, 'Half Bath', 'BIGINT', 0, None, 0),
 (51, 'Bedroom AbvGr', 'BIGINT', 0, None, 0),
 (52, 'Kitchen AbvGr', 'BIGINT', 0, None, 0),
 (53, 'Kitchen Qual', 'TEXT', 0, None, 0),
 (54, 'TotRms AbvGrd', 'BIGINT', 0, None, 0),
 (55, 'Functional', 'TEXT', 0, None, 0),
 (56, 'Fireplaces', 'BIGINT', 0, None, 0),
 (57, 'Fireplace Qu', 'TEXT', 0, None, 0),
 (58, 'Garage Type', 'TEXT', 0, None, 0),
 (59, 'Garage Yr Blt', 'FLOAT', 0, None, 0),
 (60, 'Garage Finish', 'TEXT', 0, None, 0),
 (61, 'Garage Cars', 'FLOAT', 0, None, 0),
 (62, 'Garage Area', 'FLOAT', 0, None, 0),
 (63, 'Garage Qual', 'TEXT', 0, None, 0),
 (64, 'Garage Cond', 'TEXT', 0, None, 0),
 (65, 'Paved Drive', 'TEXT', 0, None, 0),
 (66, 'Wood Deck SF', 'BIGINT', 0, None, 0),
 (67, 'Open Porch SF', 'BIGINT', 0, None, 0),
 (68, 'Enclosed Porch', 'BIGINT', 0, None, 0),
 (69, '3Ssn Porch', 'BIGINT', 0, None, 0),
 (70, 'Screen Porch', 'BIGINT', 0, None, 0),
 (71, 'Pool Area', 'BIGINT', 0, None, 0),
 (72, 'Pool QC', 'TEXT', 0, None, 0),
 (73, 'Fence', 'TEXT', 0, None, 0),
 (74, 'Misc Feature', 'TEXT', 0, None, 0),
 (75, 'Misc Val', 'BIGINT', 0, None, 0),
 (76, 'Mo Sold', 'BIGINT', 0, None, 0),
 (77, 'Yr Sold', 'BIGINT', 0, None, 0),
 (78, 'Sale Type', 'TEXT', 0, None, 0),
 (79, 'Sale Condition', 'TEXT', 0, None, 0),
 (80, 'SalePrice', 'BIGINT', 0, None, 0)]

In [4]:
house = pd.read_sql("SELECT * FROM houses;", conn)

house.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,2217,909279080,50,RL,NaN,11275,Pave,None,IR1,HLS,...,0,None,None,None,0,3,2007,WD,Normal,220000
1,837,907126050,20,RL,65.0,9757,Pave,None,Reg,Low,...,0,None,None,None,0,10,2009,WD,Normal,143000
2,2397,528144030,60,RL,86.0,11065,Pave,None,IR1,Lvl,...,0,None,None,None,0,10,2006,New,Partial,281000
3,1963,535452060,20,RL,70.0,7000,Pave,None,Reg,Lvl,...,0,None,MnWw,None,0,4,2007,WD,Family,135000
4,306,911202100,50,C (all),66.0,8712,Pave,Pave,Reg,HLS,...,0,None,None,None,0,1,2010,WD,Abnorml,102776

In [5]:
a = house[['Gr Liv Area',"Total Bsmt SF","Year Built","Yr Sold","Sale Condition",'SalePrice']]

#a = a[ a["Sale Condition"] == "Normal"]


def clean( a):
    a = a[ a["Sale Condition"] == "Normal"]
    a.dropna(inplace = True)
    return a

a = clean(a)

# GLA TBSF

/Users/apple/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
a["Age"] = a["Yr Sold"] - a["Year Built"]

In [7]:
a

,Gr Liv Area,Total Bsmt SF,Year Built,Yr Sold,Sale Condition,SalePrice,Age
0,1991,854.0,1932,2007,Normal,220000,75
1,990,990.0,1994,2009,Normal,143000,15
5,1609,754.0,1995,2008,Normal,182000,13
7,981,981.0,1971,2007,Normal,143250,36
8,1466,1466.0,1959,2006,Normal,149900,47
10,1312,1267.0,2001,2007,Normal,180500,6
11,1089,1089.0,1954,2009,Normal,125000,55
12,1978,1978.0,2003,2010,Normal,318000,7
13,1465,992.0,1939,2006,Normal,131000,67
14,1674,814.0,2000,2010,Normal,216000,10
15,1127,1127.0,1976,2008,Normal,135000,32
17,864,864.0,1959,2009,Normal,118000,50
18,1489,782.0,2003,2009,Normal,192000,6
20,1256,1145.0,2008,2009,Normal,195000,1
21,2526,1165.0,1994,2006,Normal,290000,12
22,1872,1845.0,1988,2006,Normal,241500,18
23,2020,0.0,1977,2007,Normal,144000,30
26,2054,992.0,2000,2009,Normal,244000,9
31,2061,1070.0,1995,2009,Normal,260000,14
32,864,864.0,1970,2009,Normal,124500,39
33,894,894.0,1977,2007,Normal,120750,30
35,1742,916.0,1882,2009,Normal,168000,127
36,1514,794.0,2000,2009,Normal,190000,9
38,2544,1248.0,1969,2009,Normal,190000,40
39,1097,1097.0,1996,2007,Normal,147900,11
41,1091,384.0,1993,2009,Normal,131250,16
42,2362,1220.0,1998,2007,Normal,312500,9
43,1576,1324.0,1923,2009,Normal,223500,86
44,2225,1390.0,1992,2010,Normal,285000,18
45,2046,1994.0,2005,2007,Normal,450000,2
...,...,...,...,...,...,...,...
2311,1079,570.0,1948,2008,Normal,125600,60
2312,1268,1268.0,1977,2009,Normal,143500,32
2314,1774,552.0,1961,2009,Normal,165000,48
2315,1424,1100.0,1969,2007,Normal,155000,38
2316,1798,1075.0,1900,2007,Normal,137000,107
2317,1588,1588.0,1999,2006,Normal,214000,7
2318,1337,1405.0,1999,2010,Normal,184000,11
2320,1575,1603.0,2003,2008,Normal,284000,5
2321,1280,793.0,1966,2007,Normal,175000,41
2322,2110,948.0,1994,2010,Normal,205000,16
2323,1590,768.0,2008,2009,Normal,210000,1
2324,1450,624.0,1920,2008,Normal,132000,88
2325,1020,1004.0,1988,2007,Normal,200000,19
2326,1248,912.0,1930,2007,Normal,87000,77
2327,1341,1341.0,1999,2007,Normal,246900,8
2328,1675,1666.0,1999,2008,Normal,195000,9
2329,2192,720.0,1939,2008,Normal,179500,69
2330,1645,715.0,1971,2010,Normal,171000,39
2331,1518,1518.0,2003,2008,Normal,274000,5
2333,1440,540.0,1900,2006,Normal,79000,106
2334,630,630.0,1972,2008,Normal,81000,36
2335,1584,1584.0,1967,2009,Normal,124000,42
2336,1548,804.0,1976,2009,Normal,146000,33
2337,1553,691.0,1996,2007,Normal,178750,11
2338,1381,1161.0,1972,2010,Normal,197500,38
2339,1691,1026.0,1924,2010,Normal,127000,86
2340,1671,959.0,2000,2006,Normal,173000,6
2341,1232,1232.0,1984,2008,Normal,162500,24
2342,1274,624.0,1991,2010,Normal,136000,19
2343,2696,2846.0,2003,2010,Normal,500000,7

In [8]:
a.corr()

,Gr Liv Area,Total Bsmt SF,Year Built,Yr Sold,SalePrice,Age
Gr Liv Area,1.000000,0.395225,0.209303,-0.001610,0.740554,-0.209728
Total Bsmt SF,0.395225,1.000000,0.373514,0.029851,0.635165,-0.372811
Year Built,0.209303,0.373514,1.000000,0.060057,0.520716,-0.999005
Yr Sold,-0.001610,0.029851,0.060057,1.000000,0.026557,-0.015477
SalePrice,0.740554,0.635165,0.520716,0.026557,1.000000,-0.520409
Age,-0.209728,-0.372811,-0.999005,-0.015477,-0.520409,1.000000

In [9]:
# from sklearn.linear_model import LinearRegression

# X = a[['Gr Liv Area',"Total Bsmt SF"]]
# y = a["SalePrice"]

# reg1 = LinearRegression(fit_intercept = False)

# # reg1.fit(X, y)

In [10]:
# reg1.coef_

In [11]:
# reg1.intercept_

In [12]:
# reg2 = LinearRegression()

# reg2.fit(X, y)

In [13]:
# reg2.coef_

In [14]:
# reg2.intercept_

In [15]:
# from sklearn.metrics import mean_squared_error

# y_pred1 =  np.dot(X,reg1.coef_) + reg1.intercept_
# y_pred2 =  np.dot(X,reg2.coef_) + reg2.intercept_

# print('MSE1：',mean_squared_error(y,y_pred1))
# print('RMSE1：',np.sqrt(mean_squared_error(y,y_pred1)))

# print('MSE2：',mean_squared_error(y,y_pred2))
# print('RMSE2：',np.sqrt(mean_squared_error(y,y_pred2)))

In [16]:
# from sklearn.metrics import r2_score

# print('R^2_1：',r2_score(y,y_pred1))

# print('R^2_2：',r2_score(y,y_pred2))

In [17]:
# 方法2
import statsmodels.api as sm

from statsmodels.tools.eval_measures import rmse


X = a[['Gr Liv Area',"Total Bsmt SF"]]
y = a["SalePrice"]


X_with_intercept = sm.add_constant(X)

X_with_intercept.head()

/Users/apple/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

   const  Gr Liv Area  Total Bsmt SF
0    1.0         1991          854.0
1    1.0          990          990.0
5    1.0         1609          754.0
7    1.0          981          981.0
8    1.0         1466         1466.0

In [18]:
model1  = sm.OLS(y,X)
results = model1.fit()

results.params

Gr Liv Area      76.004775
Total Bsmt SF    63.963708
dtype: float64

In [19]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.955
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                 2.035e+04
Date:                Sat, 13 Apr 2019   Prob (F-statistic):               0.00
Time:                        11:21:55   Log-Likelihood:                -23183.
No. Observations:                1928   AIC:                         4.637e+04
Df Residuals:                    1926   BIC:                         4.638e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Gr Liv Area      76.0048      1.592     47.737      0.000      72.882      79.127
Total Bsmt SF    63.9637      2.257     28.338      0.000      59.537      68.390
==============================================================================
Omnibus:                      385.456   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2347.097
Skew:                           0.795   Prob(JB):                         0.00
Kurtosis:                       8.166   Cond. No.                         5.55
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
y_pr1 = results.params[0] * a['Gr Liv Area'] + results.params[1]* a['Total Bsmt SF']

In [21]:
rmse(y,y_pr1)

40353.73801529985

In [22]:
model2  = sm.OLS(y,X_with_intercept)
results2 = model2.fit()

results2.params

const           -23483.645387
Gr Liv Area         85.654866
Total Bsmt SF       71.117414
dtype: float64

In [23]:
results2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.687
Model:                            OLS   Adj. R-squared:                  0.687
Method:                 Least Squares   F-statistic:                     2117.
Date:                Sat, 13 Apr 2019   Prob (F-statistic):               0.00
Time:                        11:21:55   Log-Likelihood:                -23156.
No. Observations:                1928   AIC:                         4.632e+04
Df Residuals:                    1925   BIC:                         4.634e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.348e+04   3198.698     -7.342      0.000   -2.98e+04   -1.72e+04
Gr Liv Area      85.6549      2.048     41.821      0.000      81.638      89.672
Total Bsmt SF    71.1174      2.431     29.259      0.000      66.350      75.884
==============================================================================
Omnibus:                      205.378   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1303.705
Skew:                           0.271   Prob(JB):                    8.02e-284
Kurtosis:                       6.992   Cond. No.                     6.61e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.61e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
results2.params[2]

71.11741445463642

In [25]:
y_pr2 =  results2.params[1] * a['Gr Liv Area'] + results2.params[2]* a['Total Bsmt SF'] + results2.params[0]

In [26]:
rmse(y,y_pr2)

39800.38468240653

In [39]:
y

1       143000
5       182000
8       149900
11      125000
12      318000
13      131000
15      135000
17      118000
21      290000
22      241500
23      144000
31      260000
32      124500
33      120750
35      168000
36      190000
38      190000
39      147900
41      131250
42      312500
43      223500
44      285000
45      450000
48      120000
49      192000
50      125900
52      143500
54      144000
56      301500
57      114000
         ...
2304    180400
2306    175000
2307    186500
2308    190000
2309    174500
2310    135500
2311    125600
2314    165000
2315    155000
2316    137000
2317    214000
2318    184000
2320    284000
2323    210000
2324    132000
2325    200000
2326     87000
2327    246900
2329    179500
2330    171000
2331    274000
2333     79000
2335    124000
2336    146000
2337    178750
2338    197500
2339    127000
2340    173000
2342    136000
2343    500000
Name: SalePrice, Length: 1483, dtype: int64

In [43]:
dummy_fields1 = ['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Lot Shape',"Land Contour","Utilities","Lot Config","Land Slope","Neighborhood"]
house['Alley'] = house['Alley'].apply(lambda x: "None" if pd.isnull(x) else x)

dummy_fields2  = ["Condition 1","Condition 2","Bldg Type","House Style","Roof Style","Roof Matl","Exterior 1st","Exterior 2nd","Mas Vnr Type","Exter Qual","Exter Cond"]

dummy_fields3 = ["Foundation","Bsmt Qual","Bsmt Cond","Bsmt Exposure","BsmtFin Type 1","BsmtFin Type 2","Heating","Heating QC","Central Air","Electrical"]
house['Bsmt Qual'] = house['Bsmt Qual'].apply(lambda x: "None" if pd.isnull(x) else x)
house['Bsmt Cond'] = house['Bsmt Cond'].apply(lambda x: "None" if pd.isnull(x) else x)
house['Bsmt Exposure'] = house['Bsmt Cond'].apply(lambda x: "None" if pd.isnull(x) else x)
house['BsmtFin Type 1'] = house['BsmtFin Type 1'].apply(lambda x: "None" if pd.isnull(x) else x)
house["BsmtFin Type 2"] = house["BsmtFin Type 2"].apply(lambda x: "None" if pd.isnull(x) else x)

dummy_fields4 = ["Kitchen Qual","Functional","Fireplace Qu","Garage Type","Garage Finish","Garage Qual","Garage Cond","Paved Drive","Pool QC","Fence"] 
house["Fireplace Qu"] = house["Fireplace Qu"].apply(lambda x: "None" if pd.isnull(x) else x)
house["Garage Type"] = house["Garage Type"].apply(lambda x: "None" if pd.isnull(x) else x)
house["Garage Finish"] = house["Garage Finish"].apply(lambda x: "None" if pd.isnull(x) else x)
house["Garage Qual"] = house["Garage Qual"].apply(lambda x: "None" if pd.isnull(x) else x)
house["Garage Cond"] = house["Garage Cond"].apply(lambda x: "None" if pd.isnull(x) else x)
house["Pool QC"] = house["Pool QC"].apply(lambda x: "None" if pd.isnull(x) else x)
house["Fence"] = house["Fence"].apply(lambda x: "None" if pd.isnull(x) else x)


dummy_fields5 = ["Misc Feature","Sale Type"]
house["Misc Feature"] = house["Misc Feature"].apply(lambda x: "None" if pd.isnull(x) else x)

house = clean(house)



dummy_fields = ['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Lot Shape',"Land Contour","Utilities","Lot Config","Land Slope","Neighborhood","Condition 1","Condition 2","Bldg Type","House Style","Roof Style","Roof Matl","Exterior 1st","Exterior 2nd","Mas Vnr Type","Exter Qual","Exter Cond","Foundation","Bsmt Qual","Bsmt Cond","Bsmt Exposure","BsmtFin Type 1","BsmtFin Type 2","Heating","Heating QC","Central Air","Electrical","Kitchen Qual","Functional","Fireplace Qu","Garage Type","Garage Finish","Garage Qual","Garage Cond","Paved Drive","Pool QC","Fence","Misc Feature","Sale Type"]

In [40]:
house.corr()["SalePrice"].abs().sort_values(ascending=False)

SalePrice          1.000000
Gr Liv Area        0.740147
Total Bsmt SF      0.653747
1st Flr SF         0.650385
Garage Cars        0.635269
Garage Area        0.617249
Full Bath          0.546712
Year Built         0.521164
Garage Yr Blt      0.506569
TotRms AbvGrd      0.505552
Mas Vnr Area       0.505160
Year Remod/Add     0.497938
BsmtFin SF 1       0.474278
Fireplaces         0.474165
Lot Area           0.388480
Lot Frontage       0.364585
Wood Deck SF       0.354802
Open Porch SF      0.331313
Bsmt Full Bath     0.301953
Half Bath          0.283696
2nd Flr SF         0.278205
PID                0.208149
Bedroom AbvGr      0.185107
Bsmt Unf SF        0.158468
Enclosed Porch     0.145485
Overall Cond       0.130609
Kitchen AbvGr      0.107590
Screen Porch       0.107207
MS SubClass        0.082849
Order              0.080960
Bsmt Half Bath     0.048176
Pool Area          0.036413
Yr Sold            0.030166
3Ssn Porch         0.023108
Mo Sold            0.020439
Low Qual Fin SF    0.013074
Misc Val           0.009249
BsmtFin SF 2       0.006272
Name: SalePrice, dtype: float64

In [29]:
def search_corr( dummy_fields ):
    
    h1 = house["SalePrice"]

    for each in dummy_fields:
        dummies = pd.get_dummies( house.loc[:, each], prefix=each ) 
        h1 = pd.concat( [h1, dummies], axis = 1 )
    
    return h1.corr()["SalePrice"].sort_values(ascending=False)

In [30]:
search_corr(dummy_fields1)

SalePrice               1.000000
Neighborhood_NridgHt    0.409352
Neighborhood_NoRidge    0.363261
MS SubClass_60          0.356006
Lot Shape_IR1           0.315063
MS Zoning_RL            0.243269
Land Contour_HLS        0.192080
Neighborhood_StoneBr    0.179330
Lot Config_CulDSac      0.157550
Neighborhood_Somerst    0.145725
Neighborhood_Timber     0.133892
Alley_None              0.112042
Neighborhood_Veenker    0.109371
MS Zoning_FV            0.102759
Lot Shape_IR2           0.086259
Neighborhood_CollgCr    0.077976
MS SubClass_120         0.075985
Land Slope_Mod          0.075447
MS SubClass_20          0.056208
Neighborhood_Crawfor    0.050818
Neighborhood_ClearCr    0.049559
Land Slope_Sev          0.041159
MS SubClass_75          0.035968
Neighborhood_Gilbert    0.034721
Land Contour_Low        0.033925
Street_Pave             0.031746
Neighborhood_NWAmes     0.026522
Lot Config_FR3          0.018410
Neighborhood_Greens     0.011977
Neighborhood_SawyerW    0.011098
                          ...
MS SubClass_180        -0.042887
MS SubClass_85         -0.043915
MS SubClass_80         -0.044652
Neighborhood_NPkVill   -0.057196
MS Zoning_RH           -0.061170
MS SubClass_70         -0.062876
Lot Config_Inside      -0.072576
MS SubClass_45         -0.076662
MS Zoning_C (all)      -0.079232
Land Contour_Lvl       -0.081429
Land Slope_Gtl         -0.081708
MS SubClass_190        -0.086029
Neighborhood_SWISU     -0.086499
Land Contour_Bnk       -0.087203
MS SubClass_90         -0.087284
Neighborhood_MeadowV   -0.100057
Neighborhood_BrDale    -0.120517
Neighborhood_Sawyer    -0.121591
Neighborhood_BrkSide   -0.124377
Alley_Grvl             -0.124649
Neighborhood_Edwards   -0.131978
Neighborhood_IDOTRR    -0.133180
MS SubClass_160        -0.137243
MS SubClass_50         -0.159638
Neighborhood_OldTown   -0.199745
Neighborhood_NAmes     -0.204655
MS SubClass_30         -0.227521
MS Zoning_RM           -0.294605
Lot Shape_Reg          -0.333987
Utilities_AllPub             NaN
Name: SalePrice, Length: 69, dtype: float64

In [31]:
search_corr(dummy_fields2)

SalePrice               1.000000
Exter Qual_Gd           0.472861
Exter Qual_Ex           0.449275
Exterior 2nd_VinylSd    0.338676
Exterior 1st_VinylSd    0.338515
Mas Vnr Type_BrkFace    0.260698
Mas Vnr Type_Stone      0.250587
House Style_2Story      0.193727
Roof Style_Hip          0.191485
Roof Matl_WdShngl       0.183884
Condition 2_PosA        0.144624
Exterior 1st_CemntBd    0.139599
Exterior 2nd_CmentBd    0.121661
Condition 1_PosN        0.113630
Bldg Type_1Fam          0.111571
Condition 2_PosN        0.111425
Condition 1_Norm        0.104314
Condition 1_PosA        0.083127
Exter Cond_TA           0.062220
House Style_2.5Fin      0.042980
Exter Cond_Ex           0.036073
Roof Style_Shed         0.035711
Exterior 2nd_ImStucc    0.027689
Roof Matl_Membran       0.022477
Bldg Type_TwnhsE        0.015006
House Style_2.5Unf      0.014507
Exterior 1st_BrkFace    0.013130
Exterior 2nd_BrkFace    0.009200
Roof Matl_WdShake       0.006588
Roof Style_Flat         0.004460
                          ...
Exterior 2nd_Stone     -0.047568
Exterior 1st_WdShing   -0.049734
Condition 1_RRAe       -0.051196
House Style_SLvl       -0.052088
Exterior 2nd_Stucco    -0.052176
Exterior 1st_Stucco    -0.056190
House Style_SFoyer     -0.058356
Exterior 2nd_Brk Cmn   -0.058564
Condition 2_Norm       -0.063439
House Style_1.5Unf     -0.073766
Bldg Type_Duplex       -0.087284
Exter Qual_Fa          -0.088269
Exterior 2nd_HdBoard   -0.088556
Bldg Type_2fmCon       -0.090306
Exterior 2nd_AsbShng   -0.091056
Exterior 1st_AsbShng   -0.096495
Condition 1_Artery     -0.096549
Bldg Type_Twnhs        -0.097593
Exterior 1st_HdBoard   -0.101651
Exter Cond_Fa          -0.108145
Roof Matl_CompShg      -0.113238
Condition 1_Feedr      -0.131632
Exterior 2nd_Wd Sdng   -0.144089
Exterior 2nd_MetalSd   -0.145077
Exterior 1st_MetalSd   -0.152324
Exterior 1st_Wd Sdng   -0.152939
House Style_1.5Fin     -0.169385
Roof Style_Gable       -0.176502
Mas Vnr Type_None      -0.373773
Exter Qual_TA          -0.590759
Name: SalePrice, Length: 80, dtype: float64

In [32]:
search_corr(dummy_fields3)

SalePrice              1.000000
Bsmt Qual_Ex           0.565468
Foundation_PConc       0.503229
BsmtFin Type 1_GLQ     0.488412
Heating QC_Ex          0.443461
Bsmt Qual_Gd           0.250005
Electrical_SBrkr       0.226527
Central Air_Y          0.223608
BsmtFin Type 2_Unf     0.126630
Bsmt Exposure_TA       0.120509
Bsmt Cond_TA           0.120509
Heating_GasA           0.067344
Bsmt Cond_Gd           0.045389
Bsmt Exposure_Gd       0.045389
BsmtFin Type 2_GLQ     0.040142
Bsmt Cond_Ex           0.010517
Bsmt Exposure_Ex       0.010517
Foundation_Stone       0.001303
Foundation_Wood       -0.016496
Heating_OthW          -0.017046
BsmtFin Type 2_ALQ    -0.018501
Bsmt Qual_Po          -0.031338
Heating QC_Po         -0.032044
Heating_Grav          -0.034514
Heating_GasW          -0.036190
BsmtFin Type 2_LwQ    -0.041507
BsmtFin Type 2_Rec    -0.054326
BsmtFin Type 2_BLQ    -0.059794
Heating_Wall          -0.061627
Electrical_FuseP      -0.064164
BsmtFin Type 1_ALQ    -0.096165
Foundation_Slab       -0.104448
BsmtFin Type 1_LwQ    -0.109089
BsmtFin Type 1_Unf    -0.113827
Bsmt Exposure_Fa      -0.123973
Bsmt Cond_Fa          -0.123973
Electrical_FuseF      -0.126675
BsmtFin Type 1_BLQ    -0.126801
Heating QC_Fa         -0.127541
BsmtFin Type 2_None   -0.129509
Bsmt Cond_None        -0.137709
BsmtFin Type 1_None   -0.137709
Bsmt Qual_None        -0.137709
Bsmt Exposure_None    -0.137709
Heating QC_Gd         -0.142083
Bsmt Qual_Fa          -0.142920
BsmtFin Type 1_Rec    -0.167633
Electrical_FuseA      -0.175695
Foundation_BrkTil     -0.203805
Central Air_N         -0.223608
Heating QC_TA         -0.320631
Foundation_CBlock     -0.342899
Bsmt Qual_TA          -0.443620
Name: SalePrice, dtype: float64

In [33]:
search_corr(dummy_fields4)

SalePrice              1.000000
Kitchen Qual_Ex        0.512243
Garage Finish_Fin      0.408816
Kitchen Qual_Gd        0.338618
Garage Type_Attchd     0.329806
Fireplace Qu_Gd        0.297788
Fireplace Qu_Ex        0.235642
Paved Drive_Y          0.220476
Fireplace Qu_TA        0.205487
Garage Type_BuiltIn    0.188369
Fence_None             0.176735
Garage Cond_TA         0.171764
Garage Finish_RFn      0.155563
Pool QC_Ex             0.143375
Garage Qual_TA         0.129202
Functional_Typ         0.086063
Garage Qual_Gd         0.062549
Garage Qual_Ex         0.038652
Pool QC_Fa             0.018819
Garage Cond_Gd         0.007600
Functional_Mod        -0.000084
Fence_GdPrv           -0.007043
Garage Qual_Po        -0.014399
Pool QC_TA            -0.016870
Kitchen Qual_Po       -0.024810
Functional_Maj1       -0.027888
Garage Cond_Ex        -0.032297
Garage Type_2Types    -0.033278
Fireplace Qu_Fa       -0.034025
Fence_MnWw            -0.034119
Garage Type_Basment   -0.044903
Functional_Min2       -0.045420
Garage Cond_Po        -0.057208
Functional_Maj2       -0.058835
Fireplace Qu_Po       -0.062411
Functional_Min1       -0.064805
Garage Type_CarPort   -0.066715
Fence_GdWo            -0.087362
Paved Drive_P         -0.089512
Pool QC_None          -0.095130
Kitchen Qual_Fa       -0.123890
Fence_MnPrv           -0.156116
Garage Cond_Fa        -0.171202
Garage Qual_Fa        -0.173594
Paved Drive_N         -0.200046
Garage Type_Detchd    -0.410836
Fireplace Qu_None     -0.452723
Garage Finish_Unf     -0.487706
Kitchen Qual_TA       -0.523433
Name: SalePrice, dtype: float64

In [34]:
search_corr(dummy_fields5)

SalePrice            1.000000
Sale Type_ConLI      0.107668
Sale Type_WD         0.078147
Misc Feature_None    0.051892
Sale Type_Con        0.032781
Misc Feature_TenC    0.025477
Sale Type_CWD       -0.004984
Misc Feature_Othr   -0.009138
Sale Type_VWD       -0.014399
Misc Feature_Gar2   -0.028015
Sale Type_Oth       -0.034514
Sale Type_ConLw     -0.034826
Misc Feature_Shed   -0.049665
Sale Type_ConLD     -0.057346
Sale Type_COD       -0.085725
Name: SalePrice, dtype: float64

In [35]:
X = house[['Gr Liv Area',"Garage Cars","Garage Area","1st Flr SF","Year Built","Total Bsmt SF"]]

y = house["SalePrice"]

X_with_intercept = sm.add_constant(X)

X_with_intercept.head()

model3  = sm.OLS(y,X_with_intercept)
results3 = model3.fit()

In [36]:
results3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.779
Model:                            OLS   Adj. R-squared:                  0.778
Method:                 Least Squares   F-statistic:                     865.2
Date:                Sat, 13 Apr 2019   Prob (F-statistic):               0.00
Time:                        11:21:55   Log-Likelihood:                -17605.
No. Observations:                1483   AIC:                         3.522e+04
Df Residuals:                    1476   BIC:                         3.526e+04
Df Model:                           6
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -1.165e+06   6.93e+04    -16.794      0.000    -1.3e+06   -1.03e+06
Gr Liv Area      75.0732      2.380     31.542      0.000      70.404      79.742
Garage Cars    6269.0518   2848.638      2.201      0.028     681.241    1.19e+04
Garage Area      36.4263      9.667      3.768      0.000      17.464      55.388
1st Flr SF       15.3542      4.310      3.562      0.000       6.899      23.809
Year Built      578.8894     35.959     16.099      0.000     508.354     649.425
Total Bsmt SF    43.4496      3.732     11.644      0.000      36.130      50.769
==============================================================================
Omnibus:                      365.641   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2970.047
Skew:                           0.915   Prob(JB):                         0.00
Kurtosis:                       9.687   Cond. No.                     2.29e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.29e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [38]:
y_pr3 = results3.params[0] + results3.params[1] * house["Gr Liv Area"] + results3.params[2] * house["Garage Cars"] + results3.params[3] * house["Garage Area"] \
        + results3.params[4] * house["1st Flr SF"] + results3.params[5] * house["Year Built"] + results3.params[6] * house["Total Bsmt SF"]

rmse(y_pr3,y)

34633.966260749265

In [45]:
h1 = house["SalePrice"]

for each in dummy_fields:
    dummies = pd.get_dummies( house.loc[:, each], prefix=each ) 
    h1 = pd.concat( [h1, dummies], axis = 1 )

h1

,SalePrice,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,MS SubClass_70,MS SubClass_75,MS SubClass_80,...,Misc Feature_TenC,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
1,143000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,182000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,149900,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,125000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,318000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,131000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,135000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,118000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,290000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,241500,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,144000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31,260000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,124500,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
33,120750,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35,168000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
36,190000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38,190000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39,147900,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41,131250,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
42,312500,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
43,223500,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
44,285000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
45,450000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48,120000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49,192000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
50,125900,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
52,143500,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
54,144000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56,301500,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57,114000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,180400,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2306,175000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2307,186500,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2308,190000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2309,174500,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2310,135500,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2311,125600,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2314,165000,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2315,155000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2316,137000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2317,214000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2318,184000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2320,284000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2323,210000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2324,132000,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2325,200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2326,87000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2327,246900,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2329,179500,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2330,171000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2331,274000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2333,79000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2335,124000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2336,146000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2337,178750,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2338,197500,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2339,127000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2340,173000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2342,136000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2343,500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1